<h2><%=director.name %></h2>
<a href="/directors/<%=director.id %>/edit">Edit</a>
<%-include('../partials/deleteForm.ejs', {url: `${director.id}`}) %> <% if(moviesByDirector.length > 0) { %>
<h2>Movies by Director</h2>
<% moviesByDirector.forEach(movie => { %>
<a href="/movies/<%=movie.id %>">
	<img height="150" width="100" src="<%=movie.coverImagePath%>" />
</a>
<% }) %> <% } %>
