<h2><%=movie.title %></h2>
<img src="<%=movie.coverImagePath %>" alt="<%=movie.title %>" width="100px" height="150px" />
<div>Director: <%=movie.director.name %></div>
<div>Release Date: <%=movie.releaseDate.toDateString().substring(4)%></div>
<div>Runtime (mins): <%=movie.runtime %></div>
<div>Synopsis: <%=movie.synopsis %></div>
<a href="/movies/<%=movie.id %>/edit">Edit</a>
<%-include('../partials/deleteForm.ejs', { url: `/movies/${movie.id}` }) %>
<a href="/directors/<%=movie.director.id %>">View Director</a>
